<div *ngIf="isFetchingImage" style="margin-top: 150px; margin-bottom: 150px;">
    <app-loader></app-loader>
</div>

<div class="categories-outer">

    <div class="container" style="text-align: center;">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4">
            <div class="col">
                <a>
                    <div class="card">
                        <img src="./assets/uploads/food/seafood/mandarin-fish.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sea Food</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="./assets/uploads/food/sides/mixed-raita.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sides</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="./assets/uploads/food/soups/bar-b-q-special-vegetable-soup.jpg" class="card-img-top"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Soups</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a>
                    <div class="card">
                        <img src="./assets/uploads/food/chawal/mutton-biriyani.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Biriyani</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>