<div class="pt-5 my-5 px-xs-0 px-sm-0 pt-xs-0 pt-sm-0 text-center">
    <div class="overflow-hidden">
        <div class="container">
            <img src="./assets/images/6637f306222cace8e6fc1066000bbe5a.png" style="width: 80%; margin-top: 10px;"
                class="border mb-4" alt="Example image" loading="lazy">
        </div>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-md-6 mx-auto">
        <p class="lead mb-4">
            Whether you are planning an intimate dinner for friends, a corporate luncheon, or an extravagant soirée, you
            will find the perfect restaurant at Foodie App.
        </p>
    </div>
</div>

<app-categories></app-categories>

<div style="margin-top: 15px;">
    <app-header-image></app-header-image>
</div>

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            With specialty cocktails, unique starter dishes, and spectacular main courses and desserts, 21 Club is an
            amazing eatery. The superb talent and exacting precision of our chefs and staffs will make your experience
            here a grandeur one.
        </p>
    </div>
</div>