<p>home works!</p>
<!--<section id="home" class="container-fluid"style="width:100%; height:90%;">

    <div class="row min-vh-100 align-items-center" >
        
        <div class="col-md-8 ml-md-6 text-md-center text-center content">
            <h1>food that you can't resist</h1>
            <h2>enjoy the marvelous taste</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta vel quisquam nostrum cum minima nobis consequatur alias eius omnis dolorem.</p>
            <a href="#special"><button>get started</button></a>
        </div>
    
        <div class="video-container">
            <video src="./assets/images/pexels-koolshooters-8529656.mp4" autoplay loop class="vid vid1"></video>
        </div>
    </div>
    
</section>-->

<section class="home" id="home">

    <div class="swiper-container home-slider">

        <div class="swiper-wrapper wrapper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>our special dish</span>
                    <h3>spicy noodles</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit natus dolor cumque?</p>
                    <a href="#" class="btn">order now</a>
                </div>
                <div class="image">
                    <img src="./assets/images/home-img-1.png" alt="">
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

    

</section>



    