<div class="mycontainer">
    <div class="header">
        <h1>Sign Up</h1>
        <button mat-icon-button (click)="onClose()" routerLink="">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="myforms">
        <form (submit)="onSignUp()" [formGroup]="registrationForm">
            <mat-form-field class="example-full-width-title" appearance="fill">
                <mat-label>User Name</mat-label>
                <input matInput required formControlName="customerName">
                <mat-error>
                    <div *ngIf="registrationForm.controls['customerName'].errors?.['required']">This field is mandatory
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width-title" appearance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput required formControlName="emailId">
                <mat-error>
                    <div *ngIf="registrationForm.controls['emailId'].errors?.['required']">This field is mandatory</div>
                </mat-error>
                <mat-error>
                    <div *ngIf="registrationForm.controls['emailId'].errors?.['emailId']">Improper Email Format Please
                        Check
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width-title" appearance="fill">
                <mat-label>Phone No</mat-label>
                <input matInput required formControlName="phoneNo">
                <mat-error>
                    <div *ngIf="registrationForm.controls['phoneNo'].errors?.['required']">This field is
                        mandatory</div>
                </mat-error>
                <mat-error>
                    <div *ngIf="registrationForm.controls['phoneNo'].errors?.['pattern']">Improper Phone No</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width-title" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput required formControlName="password">
                <mat-error>This field is mandatory</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width-title" appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput required formControlName="confirmPassword">
                <mat-error>
                    <div *ngIf="registrationForm.controls['confirmPassword'].errors?.['required']">This field is
                        mandatory</div>
                </mat-error>
                <mat-error>
                    <div *ngIf="registrationForm.controls['confirmPassword'].errors?.['confirmedValidator']">Password
                        and
                        Confirm Password Must Match
                    </div>
                </mat-error>
            </mat-form-field>
            <div class="uploadpic">
                <mat-label>Please upload your picture in (JPEG/JPG) format* </mat-label>
                <input required type="file" (change)="onFileChanged($event)" formControlName="customerImage">
            </div>
            <br>
            <br>

            <div class="actions">
                <button mat-stroked-button color="primary" type="submit"
                    [disabled]="!registrationForm.valid">Register</button>
            </div>
        </form>
    </div>
</div>